:host {
  display: flex;
  justify-content: center;
  padding-top: 6vh;
  width: 100%;
}

h3,
p {
  margin: 0;
}

p,
mat-form-field {
  padding: 0.4rem 0.4rem;
}

hr {
  width: 100%;
  margin-bottom: 0.6rem;
  border: none;
  height: 1px;
  background-color: var(--hr-color);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dashboard);
  color: var(--text-main);
  padding: 1.5em;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  width: 70dvw;
  height: 80dvh;
  box-shadow: 0 0 10px 5px var(--shadow-color);
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-top {
  align-items: end;
}

.asignee {
  padding-top: 0;
  color: var(--text-muted);
}

.category {
  display: inline-block;
  color: aliceblue;
  width: fit-content;
  padding: 0.25rem 0.7rem;
  font-size: 0.85rem;
  border-radius: 100px;
}

.content {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0.4rem 1rem;
  box-shadow: 0 0 10px 5px var(--shadow-color);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 95%;
  margin: auto;
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.content p {
  font-size: 1.5rem;
}

mat-form-field {
  width: 25%;
}

.description {
  background-color: var(--bg-description);
  border-radius: 6px;
  padding: 0.8rem 1rem;
  line-height: 2rem;
}

.subtasks {
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  color: var(--text-muted);
}

.tags p {
  font-size: 1rem;
  font-weight: 100;
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: var(--bg-page);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
