@if (isLoading) {
  <div class="spinner-container">
    <mat-spinner diameter="60"></mat-spinner>
  </div>
} @else {
  <div class="filters">
    <app-task-filter-row
      filterName="Priority"
      [buttons]="priorities"
      [selectedValue]="selectedPriority"
      (selected)="onPrioritySelected($event)"
    ></app-task-filter-row>
    <app-task-filter-row
      filterName="Category"
      [buttons]="categories"
      [selectedValue]="selectedCategory"
      (selected)="onCategorySelected($event)"
    ></app-task-filter-row>
  </div>
  <div cdkDropListGroup class="columns">
    <app-task-column
      [cardItems]="todoTasks"
      title="To Do"
      (taskStausChanged)="onTaskStatusChange($event)"
    ></app-task-column>
    <app-task-column
      [cardItems]="inProgressTasks"
      title="In Progress"
      (taskStausChanged)="onTaskStatusChange($event)"
    ></app-task-column>
    <app-task-column
      [cardItems]="completedTasks"
      title="Completed"
      (taskStausChanged)="onTaskStatusChange($event)"
    ></app-task-column>
  </div>
}
