:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  min-height: 0;
}

h1 {
  font-size: 1.7rem;
  padding: 0.8rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: black;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.column::-webkit-scrollbar {
  display: none;
}

p.loading {
  margin: auto;
}

app-task-card {
  margin-bottom: 1rem;
}

app-task-card:last-child {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 1.4rem;
    padding: 0.2rem;
  }

  .dot {
    height: 0.5rem;
    width: 0.5rem;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 1rem;
    padding: 0;
  }

  .dot {
    height: 0.3rem;
    width: 0.3rem;
  }
}
