<h1 [appColor]="title" colorType="border-bottom">
  <span [appColor]="title" colorType="dot" class="dot"></span>
  {{ title }}
</h1>

<div
  cdkDropList
  (cdkDropListDropped)="onCardDropped($event)"
  [cdkDropListData]="title"
  class="column"
>
  @for (item of cardItems; track $index) {
    <app-task-card
      cdkDrag
      [cdkDragData]="item"
      [task]="item"
      [appColor]="item.priority || ''"
      colorType="border-top"
     (deleted)="onTaskDeleted($event)"></app-task-card>
  } @empty {
    <p class="loading">No tasks</p>
  }
</div>
