<h1 [titleColor]="title">
  <span [dotColor]="title" class="dot" [dotColor]="title"></span>
  {{ title }}
</h1>

<div
  cdkDropList
  (cdkDropListDropped)="onCardDropped($event)"
  [cdkDropListData]="title"
  class="column"
>
  @for (item of cardItems; track $index) {
    <app-task-card
      cdkDrag
      [cdkDragData]="item"
      [task]="item"
      [priorityColor]="item.priority || ''"
     (deleted)="onTaskDeleted($event)"></app-task-card>
  } @empty {
    <p class="loading">No tasks</p>
  }
</div>
