<a [routerLink]="['/tasks', task.id]" class="card-link">
    <div class="card-title">
  <h3
    [class.show-full-title]="showFullTitle"
    (mouseenter)="onTitleMouseEnter()"
    (mouseleave)="onTitleMouseLeave()"
  >{{ task.title }}</h3>
      <button class="circle-btn" aria-label="Edit task" (click)="onEditClick()">✎</button>
</div>
<p class="category" [categoryColor]="task.category?.color || ''">{{task.category?.title || 'Uncategorized'}}</p>
    <p class="description">{{task.description}}</p>
    <hr>
    <div class="footer">
        <p>{{task.assignee}}</p>
        <p>{{task.dueDate}}</p>
    </div>
</a>
