:host{
    background-color: rgb(240, 240, 240 );
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.14);
    border-radius: 15px;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h3, p{
    margin: 0;
}

.category {
    display: inline-block;
    color: aliceblue;
    width: fit-content;
    padding: 0.3rem 0.7rem;
    font-size: 0.85rem;
    border-radius: 100px;
}

.description {
    background-color: rgb(223, 223, 223);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
}

.card-link hr {
    width: 100%;
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer{
    display: flex;
    justify-content: space-between;
    color: rgb(136, 136, 136);
}

p{
    padding: 0 0.4rem;
}
